{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-3">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h4>Dashboard</h4>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a href="{% url "home:task-create" %}">
                  <button type="button" class="btn btn-default">Add task</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">task type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">members</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">priority</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">deadline</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
              {% if task_list %}
                {% for task in task_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                            <a href="{% url "home:task-detail" pk=task.id %}" class="mb-0 text-md">{{ task.name }}</a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">{{ task.task_type }}</p>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                          <img src="{% static 'img/team-1.jpg' %}" alt="team1">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                          <img src="{% static 'img/team-2.jpg' %}" alt="team2">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                          <img src="{% static 'img/team-3.jpg' %}" alt="team3">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                          <img src="{% static 'img/team-4.jpg' %}" alt="team4">
                        </a>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      {% if task.is_completed %}
                        <span class="badge badge-sm bg-gradient-success">Done</span>
                      {% else %}
                        <span class="badge badge-sm bg-gradient-secondary">Not done</span>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      {% if task.priority == "Urgent" %}
                        <span class="text-danger text-xs font-weight-bold">{{ task.priority }}</span>
                      {% elif task.priority == "High" %}
                        <span class="text-warning text-xs font-weight-bold">{{ task.priority }}</span>
                      {% elif task.priority == "Normal" %}
                        <span class="text-primary text-xs font-weight-bold">{{ task.priority }}</span>
                      {% elif task.priority == "Low" %}
                        <span class="text-muted text-xs font-weight-bold">{{ task.priority }}</span>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">
                        {{ task.deadline.date }}
                      </span>
                    </td>
                    <td class="align-middle">
                      <a
                          href="{% url "home:task-update" pk=task.id %}"
                          class="text-secondary font-weight-bold text-xs"
                          data-toggle="tooltip"
                          data-original-title="Edit user"
                      >
                        Edit
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </div>
  {% include "includes/footer.html" %}
  </div>
{% endblock %}