{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  {% if worker %}
    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{% static 'img/default-user.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ worker.first_name }} {{ worker.last_name }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{ worker.position }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-4 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h5 class="mb-0 text-2xl">Details</h5>
                </div>
                <div class="col-md-4 text-end">
                  <a href="{% url "home:worker-update" pk=worker.id %}">
                    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-md">
                  <strong class="text-dark">Full Name:</strong> &nbsp;
                  {{ worker.first_name }} {{ worker.last_name }}
                </li>
                <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Position:</strong> &nbsp; {{ worker.position }}</li>
                <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Number of tasks at work:</strong> &nbsp; {{ num_of_tasks }}</li>
                <li class="list-group-item border-0 ps-0 text-md">
                  <strong class="text-dark">Progress:</strong> &nbsp;
                  {{ progress }}%
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h4>Task in progress</h4>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Task Type</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Change Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if worker.tasks %}
                      {% for task in worker.tasks.all %}
                        {% if task.is_completed %}
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-sm">{{ task.name }}</h6>
                                </div>
                              </div>
                            </td>
                            <td>
                              <button
                                  type="button"
                                  class="btn"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="right"
                                  title="{{ task.description }}"
                                  data-container="body"
                              >
                                Detail
                              </button>
                            </td>
                            <td class="align-middle text-start">
                              <span class="text-secondary text-xs font-weight-bold">{{ task.task_type }}</span>
                            </td>
                            <td class="align-middle text-center">
                              {% if task.priority == "Urgent" %}
                                <span class="text-danger text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "High" %}
                                <span class="text-warning text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "Normal" %}
                                <span class="text-primary text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "Low" %}
                                <span class="text-muted text-xs font-weight-bold">{{ task.priority }}</span>
                              {% endif %}
                            </td>
                            <td class="align-middle text-center">
                              <span class="badge badge-sm bg-gradient-success">Done</span>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <a
                                  class="btn btn-link text-primary text-gradient px-0 mb-0"
                                  href="{% url "home:toggle-task-complete" worker_id=worker.id task_id=task.id %}"
                              >
                                Complete
                              </a>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h4>Completed tasks</h4>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Task Type</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Change Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if worker.tasks %}
                      {% for task in worker.tasks.all %}
                        {% if task.is_completed is not True %}
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-sm">{{ task.name }}</h6>
                                </div>
                              </div>
                            </td>
                            <td>
                              <button
                                  type="button"
                                  class="btn"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="{{ task.description }}"
                                  data-container="body"
                              >
                                Detail
                              </button>
                            </td>
                            <td class="align-middle text-start">
                              <span class="text-secondary text-xs font-weight-bold">{{ task.task_type }}</span>
                            </td>
                            <td class="align-middle text-center">
                              {% if task.priority == "Urgent" %}
                                <span class="text-danger text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "High" %}
                                <span class="text-warning text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "Normal" %}
                                <span class="text-primary text-xs font-weight-bold">{{ task.priority }}</span>
                              {% elif task.priority == "Low" %}
                                <span class="text-muted text-xs font-weight-bold">{{ task.priority }}</span>
                              {% endif %}
                            </td>
                            <td class="align-middle text-center">
                              <span class="badge badge-sm bg-gradient-secondary">Not done</span>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <a
                                  class="btn btn-link text-danger text-gradient px-0 mb-0"
                                  href="{% url "home:toggle-task-complete" worker_id=worker.id task_id=task.id %}"
                              >
                                Undo
                              </a>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  {% endif %}

{% endblock content %}