{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h4>Workers</h4>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a href="{% url "home:worker-create" %}">
                  <button type="button" class="btn btn-default">Add worker</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">worker</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">position</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total task assigned to</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">progress</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% if worker_list %}
                  {% for worker in worker_list %}
                    <tr>
                      <td>
                        <a href="{% url "home:worker-detail" pk=worker.id %}">
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="user2">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{ worker.first_name }} {{ worker.last_name }}</h6>
                              <p class="text-xs text-secondary mb-0">{{ worker.email }}</p>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ worker.position }}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">{{ worker.assigned }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                      </td>
                      <td class="align-middle">
                        <a
                            href="{% url "home:worker-update" pk=worker.id %}"
                            class="text-secondary font-weight-bold text-xs"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                        >
                          Edit
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </div>
  {% include "includes/footer.html" %}
</div>
{% endblock content %}
