{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block content %}

      <div class="container-fluid py-4">

      <div class="row">
        <a href="{% url "home:task-list" %}" class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Lis of tasks</p>
                    <h5 class="font-weight-bolder mb-0">
                      Task
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url "home:worker-list" %}" class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">List of Workers</p>
                    <h5 class="font-weight-bolder mb-0">
                      Worker
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url "home:position-list" %}" class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">List of positions</p>
                    <h5 class="font-weight-bolder mb-0">
                      Position
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url "home:task-type-list" %}" class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">List of task type</p>
                    <h5 class="font-weight-bolder mb-0">
                      Task Type
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}
