{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <h3>Create Task Type</h3>
        <div class="col-8">
          <div class="card-body px-0 pt-0 pb-2">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="_save" class="btn btn-sm btn-primary">Save</button>
              </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}