{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <h3>{{ object|yesno:"Update,Create" }} worker</h3>
        <div class="col-8">
          <div class="card-body px-0 pt-0 pb-2">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-sm btn-primary">
              </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}